
@import "mixin";
@import "var";

*{
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {width: 5px;height: 10px;}
::-webkit-scrollbar-track {background-color: #ffffff;} 
::-webkit-scrollbar-thumb {background-color: #a5a4a2;border-radius: 10px;}
::-webkit-scrollbar-thumb:hover {background-color: #a5a4a2;width: 5px;}

.container-fluid{
    width: 100%;
    max-width: 1980px;
    margin: 0 auto;
    padding: 0;
}
.row{
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
}


@for $i from 1 through $grid-columns{
    .col-xs-#{$i} {
        box-sizing: border-box;
        flex-grow: 0;
        width: 100% / $grid-columns * $i;
    }
}
@for $i from 1 through $grid-columns {
    .col-sm-#{$i}{
        box-sizing: border-box;
        flex-flow: 0;
        width: 100% / $grid-columns * $i;
    }
}

@for $i from 1 through $grid-columns{
    .col-md-#{$i}{
        box-sizing: border-box;
        flex-flow: 0;
        width: 100% / $grid-columns *$i;
    }
}

@media screen and (max-width: ($grid_bp--md * 1px)) {
    @for $i from 1 through $grid-columns{
        .col-xs-#{$i}{
            flex-basis: (100 / ($grid-columns / $i)) *1%;
        }
    }
    .person_username{text-align: center;}
    .mobile_Device{
      padding: 1rem 4rem;
    }
    .modal{
      width: 96% !important;
      left: 10px!important;
      .modal_Data{
        margin-top: 30px !important;
      }
    }

}
.align-items-center{align-items: center;}
.main_container{
    background-color: $bg-color;
    height: 100vh;
    padding: 0 1rem 1rem;
}
.user_list_container{
  padding:1rem 0 5rem;
}
.search_header{
    display: flex;
    justify-content: center;
    background: #fff;
    padding: 1rem;
    .search_Custom{
      width: 50%;
      padding: 6px 10px;
      border: none;
      border: 1px solid #ccc;
      border-radius: 32px;
      outline: none;
    }
}
.user_list_field{
  background: #fff;
  margin-bottom: 0.8rem;
  box-shadow: 0px 2px 7px 0px #ccc;
  padding: 1rem;
  border-radius: 4px;
  .heading_text{
    @include bigFont(16px)
  }
  .user_image{
    text-align: center;
    img{border-radius: 70px}
    cursor: pointer;
  }
  .person_username{
    @include normalFont(16px);   
    cursor: pointer;
    color: $primary;
    span{font-weight: 600;}
  }
  .each_data{
    @include normalFont(16px);
    line-height: 1.8;
    span{font-weight: 600;}

  }

 
}
#lightbox-img{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $backdrops;
}


#lightbox {
  z-index: 1;
  position: fixed;
  top: 12px;
  left: 0;
  width: 100%;
  height: 96%;
  /* background-color: #0000002e; */
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

.backdrops{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    background-color: $backdrops;
    top: 0;
    z-index: 9;
}
.modal{
  width: 50%;
  position: absolute;
  top: 0;
  left: 30%;
  z-index: 999; 
  .modal_Data{
      width: 100%;
      background: $white_bg;
      margin: 0 auto;
      margin-top: 50px;
      min-height: 500px;
      padding: 1rem;
      box-shadow: 1px 1px 11px 7px #605b5b;
      border-radius: 5px;
      .modal_header_sec{
        @include flexContainer(center);
        justify-content: space-between;
      }
      .close{cursor: pointer; font-size: 20px;}
    }
    
}

.details_screen{
  padding: 0 1rem;
  .user_image{
    display: flex; justify-content: center;
    border-radius: 4px;
    img{border-radius: 125px;}
  }
  .details{
    padding: 1.5rem 3rem;
    line-height: 1.9;
    .each_Details_data{
      @include normalFont (17px);
      text-transform: capitalize;
      span{
        font-weight: 600;
      }
    }
    
  }
}

.pagination_Section{
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem 3rem;
  background: #fff;
  box-shadow: 1px 1px 20px 4px #ccc;
  .page_items{
    border: 1px solid $primary;
    width: 30px;
    text-align: center;
    line-height: 1.9;
    margin-right: 0.4rem;
    cursor: pointer;
    color: $primary;
    border-radius: 4px;
    font-weight: 600;
  }
}

.activeClass{
  background-color: $hover-icon-active;
  color: $white_bg;
}





























.checj {
    -webkit-animation: fade 1s;
            animation: fade 1s;
    visibility: visible;
  }
  
  @-webkit-keyframes fade {
    0% {
      color: transparent;
    }
    50% {
      color: #434f99;
    }
    100% {
      color: transparent;
    }
  }
  
  @keyframes fade {
    0% {
      color: transparent;
    }
    50% {
      color: #434f99;
    }
    100% {
      color: transparent;
    }
  }